<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro </title>
    <link rel="stylesheet" href="/static/css/registro.css">

</head>


<body>
    <div class="container">
        <div class="illustration-section">
            <div class="browser-mockup">
                <div class="dots"></div>
                <div class="menu-icon"></div>
            </div>
            <div class="main-graphic">
                <p></p>
                            </div>
        </div>

        <div class="form-section">
            <header class="form-header">
                <h1 class="title">Registro</h1>
                <button class="login-button">Entrar</button>
            </header>

            <form>
                <div class="form-group-row">
                    <div class="input-container">
                        <label for="nombre">Nombres</label>
                        <input type="text" id="nombre" placeholder="Digite su nombre">
                    </div>
                    <div class="input-container">
                        <label for="apellido">Apellidos</label>
                        <input type="text" id="apellido" placeholder="Digite su apellido">
                    </div>
                </div>

                <div class="form-group-row">
                    <div class="input-container">
                        <label for="correo">Correo Electronico</label>
                        <input type="correo" id="correo" placeholder="Digite su correo electronico">
                    </div>
                    <div class="input-container">
                        <label for="Telefono">Telefono</label>
                        <input type="Telefono" id="Telefono" placeholder="(xx) xxxx-xxxx">
                    </div>
                </div>

                <div class="form-group-row">
                    <div class="input-container">
                        <label for="dirección">Dirección</label>
                        <input type="dirección" id="dirección" placeholder="Digite su direccion">
                    </div>
                    <div class="input-container">
                        <label for="barrio">Barrio</label>
                        <input type="barrio" id="barrio" placeholder="Digite su barrio">
                    </div>
                </div>

                <div class="gender-group">
                    <label>Genero</label>
                    <div class="radio-options">
                        <label><input type="radio" name="genero" value="femenino"> Femenino</label>
                        <label><input type="radio" name="genero" value="masculino"> Masculino</label>
                        <label><input type="radio" name="genero" value="otros"> Otros</label>
                        <label><input type="radio" name="genero" value="no-decir"> Prefiero no decir</label>
                    </div>
                </div>

                <button type="submit" class="continue-button">Continuar</button>
            </form>
        </div>
    </div>
</body>
</html>